<div class="row">
    <div class="col-12">
        <ul id="users-parent" class="list-group list-group-flush"></ul>
    </div>

    <div id="messenger-parent" class="col-12"></div>
</div>
<input type="hidden" id="rmtid-input" value="{{uid}}">