<div class="row">
    <div class="col-md-2 mb-sm-4">
        <ul id="users-parent" class="list-group list-group-flush online-users"></ul>
    </div>

    <div id="messenger-parent" class="col-md-10 mt-sm-4">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti dolor repudiandae dicta dolore! Ullam ex
            nam aut cupiditate explicabo tempore magnam sint itaque iusto, aliquam, officia reiciendis earum ducimus
            illum!
        </p>
    </div>
</div>
<input type="hidden" id="rmtid-input" value="{{uid}}">