.main-menu-button:hover {
    cursor: pointer;
}

.icon {
    cursor: pointer;
}

.connecton-request-container,
.connecton-request-container * {
    margin: 0;
    padding: 0;
}

.connecton-request-container {
    width: 0%;
    height: 0%;
    display: none;
    transition: width 3s, height 3s, display 3s;
}

.connecton-request-container.hide {
    width: 100%;
    height: 100%;
    display: block;
}